.createGame {
    display: none;
    justify-content: space-between;
    width: 70%;
    line-height: 70px;
}

.createInput {
    width: 70%;
    padding-left: 5px;
}

.createBTN {
    height: 40px;
    color: #fff;
    font: bolder 15px 'Josefin Sans';
    background: purple;
    box-shadow: 2px 2px 5px rgb(233, 250, 224);
    border-radius: 4px;
    padding: 0 5px;
}

.createBTN:hover {
    cursor: pointer;
    color: #312e37;
    background-color: white;
}

.createIT {
    margin: 15px 0 15px 10px;
    width: 20%;
}

@media screen and (max-width: 870px) {
    .createGame,
    .createInput {
        width: 100%;     
    }

    .createGame {
        margin: 0 auto;
    }
}
