.subHead {
    width: 70%;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
}

.editEachQShow, .editEachQ {
    width: 70%;
    flex-direction: column;
    font-size: 20px;
    line-height: 70px;
    color: #fff;
    background: url(../bgc/bgc5.jpg);
    padding: 15px;
}

#editUploadIMG {
    width: 70%;
    border: 0; 
    box-shadow: none;
    outline: none;
    line-height: 40px;
}

.edituploadBTN, .editAction {
    width: 100%;
    height: 50px;
    color: #fff;
    font: bolder 15px 'Josefin Sans';
    background: rgb(79, 0, 128);
    box-shadow: 2px 2px 5px rgb(233, 250, 224);
    border-radius: 4px;
    padding: 0 5px;
    margin: 10px 0;
}

.editAction {
    width: 20%;
}

@media screen and (max-width: 595px) {
    .subHead,
    .editEachQShow, 
    .editEachQ,
    .editAction {
        width: 100%;
    }
}