.topCreate {
    width: 25%;
    display: flex;
    flex-direction: column;
    float: right;
    background: url('../bgc/bgc4.png');
    padding: 5px;
}

.updateDIV button {
    width: 100%;
}

.updateDIV input {
    margin: 10px 0;
    line-height: 36px;
}

.topCreate button {
    width: 100%;
    height: 40px;
    color: #fff;
    font: bolder 15px 'Josefin Sans';
    background: transparent;
    padding: 15px;
}
    
.topCreate button:hover {
    cursor: pointer;
    color: #312e37;
    background-color: white;
}

.eachQuestionShow {
    width: 70%;
    height: 70px;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    background: url('../bgc/bgc1.jpg');
    background-size: 100% 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(186, 238, 237);
    padding: 10px;
    margin: 10px 0;
}

.btnEach {
    float: right;
    margin: 30px 0;
    text-align: center;
    color: purple;
    background-color: #fff;
    box-shadow: 2px 2px 5px #fff;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}

.btnEach:hover {
    cursor: pointer;
    color: white;
    background-color: #000;
}

.uploadJSONDIV {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.createQuestion {
    width: 70%;
    flex-direction: column;
    font-size: 20px;
    line-height: 70px;
    color: #fff;
    background: url(../bgc/bgc5.jpg);
    padding: 15px;
}

label {
    display: flex;
}

input, select {
    flex: 1;
    padding-left: 5px;
}

#uploadFile {
    display: none;
}

#uploadFile button {
    float: right;
}

#fileToUpload, #UploadIMG {
    width: 70%;
    border: 0; 
    box-shadow: none;
    outline: none;
    line-height: 40px;
}

.uploadBTN, .createQBTN {
    height: 50px;
    color: #fff;
    font: bolder 15px 'Josefin Sans';
    background: rgb(79, 0, 128);
    box-shadow: 2px 2px 5px rgb(233, 250, 224);
    border-radius: 4px;
    padding: 0 5px;
    margin: 10px 0;
}

.uploadBTN:hover,
.createQBTN:hover {
    cursor: pointer;
    color: #312e37;
    background-color: white;
}

@media screen and (max-width: 595px) {
    .topCreate,
    .eachQuestionShow,
    .uploadJSONDIV,
    .createQuestion {
        width: 100%;
    }
}