#nameForm {
    width: 30%;
    line-height: 30px;
    margin: 30px auto;
    font-weight: bold;
}

input {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid purple;
    box-shadow: 2px 2px 5px rgb(238, 186, 238);
}

.btn {
    width: 100%;
    height: 50px;
    margin: 30px 0 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: purple;
    box-shadow: 2px 2px 5px rgb(238, 186, 238);
    border: none;
    border-radius: 10px;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    color: purple;
    background-color: white;
}

.eachGamePlay {
    width: 70%;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    background: url('../bgc/bgc1.jpg');
    background-size: 100% 100%;
    /* border: 2px solid purple; */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(186, 238, 237);
    padding: 10px;
    margin: 10px 0;
}

.answerSpan {
    margin-left: 20px;
}