.resultTable {
    float: left;
    width: 25%;
    background: url('../bgc/bgc4.png');
    color: #fff;
    font: bolder 15px 'Josefin Sans';
    padding: 15px;
    text-align: center;
  }

.resultTable  tr {
    height: 40px;
    line-height: 40px;
}

.resultChart {
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0 auto;
}

.eachResultShow {
    width: 100%;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background: url('../bgc/bgc1.jpg');
    background-size: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(186, 238, 237);
    padding: 50px 120px;
    margin: 10px 0;
    text-align: center;
}

@media screen and (max-width: 870px) {
    .resultTable,
    .resultChart {
        float: none;
        width: 100%;
        margin: 50px auto;
        font-size: 25px;
    }
}
